h1, p{
    color: rgb(248, 239, 223);
}

main{
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    border: none;
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #003049;
    width: 450px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.form input{
    font-size: 16px;
    background-color: transparent;
    color: wheat;
    border: none;
    height: 30px;
    width: 80%;
    border-bottom: 1px solid #f5deb3;
    margin: 10px 20px 10px 0px;
}

.form #form-title{
    font-size: 30px;
    margin: 20px 0px 10px;
}

.form #error-msg{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.form input::placeholder{
    color: rgb(44, 44, 44);
    color: wheat;
}

.form-link{
    padding-top: 30px;
    font-size: 15px;
}

.submitBtn{
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    background-color: rgb(250, 120, 120);
    border-radius: 15px;
}

.submitBtn:hover{
    background-color: rgb(189, 72, 72);
    color: white;
}
